* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

:root {
    --offset: 6px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    margin-top: 16px;
}

h1 {
    line-height: 0.9;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    border: 0px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 8px;
}

.nav_links li {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #646464;
}

nav {
    background-attachment: scroll;
}

li, a, button {
    font-family: "微软雅黑", 黑体;
    font-weight: 500;
    font-size: 18px;
    color: #303030;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.wlingwebsite a{
    padding: 12px 25px;
    margin-left: 24px;
    font-size: 16px;
    background-color: rgb(43, 43, 43);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

.wlingwebsite a:hover {
    background-color: rgb(68, 68, 68);
}

.homecontent{
    padding: 10px 10%;
    margin-top: 20rem;
}

.homecontent h1{
    line-height: 1;
    font-size: 64px;
    font-family: "微软雅黑", 黑体;
    color: #1d1d1f
}

.mask {
    height: 64px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
}

.mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    letter-spacing: -0.02em;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    padding-bottom: var(--offset);
}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #189e98 50%, #0ec15d);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #9e1871 50%, #c10e4a);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #ff7113 50%, #ffee00);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #1371ff 50%, #0059ff);
}

.product {
    margin-top: 24rem;
    margin-bottom: 16px;
}

.product {
    color: #1d1d1f;
    font-size: 36px;
    margin-left: 10%;
}

.card-zlserver {
    display: inline-block;
    background-color: #ffffff;
    border: #a5a5a5 1px solid;
    border-radius: 8px;
    margin-left: 10%;
    padding: 16px 24px;
    margin-bottom: 8rem;
}

.card-zlserver h3 {
    font-size: 24px;
    color: #1d1d1f;
    background-color: #ffffff;
}

.card-zlserver p {
    background-color: #ffffff;
    color: #696969;
}

.card-u1bot {
    display: inline-block;
    background-color: #ffffff;
    border: #a5a5a5 1px solid;
    border-radius: 8px;
    padding: 16px 24px;
    margin-bottom: 8rem;
}

.card-u1bot h3 {
    font-size: 24px;
    color: #1d1d1f;
    background-color: #ffffff;
}

.card-u1bot p {
    background-color: #ffffff;
    color: #696969;
}
