* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-light);
    scroll-behavior: smooth;
}

:root {
    --offset: 6px;
    --background-color-light: #f5f5f5;
    --title-color-light: #1d1d1f;
    --description-color-light: #696969;
}

svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    margin-top: 16px;
}

h1 {
    line-height: 0.9;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    border: 0px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 8px;
}

.nav_links li {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #646464;
}

nav {
    background-attachment: scroll;
}

li, a, button {
    font-family: "微软雅黑", 黑体;
    font-weight: 500;
    font-size: 18px;
    color: #303030;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.wlingwebsite a{
    padding: 12px 25px;
    margin-left: 24px;
    font-size: 16px;
    background-color: rgb(43, 43, 43);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

.wlingwebsite a:hover {
    background-color: rgb(68, 68, 68);
}

.homecontent{
    padding: 10px 10%;
    margin-top: 20rem;
}

.homecontent h1{
    line-height: 1;
    font-size: 64px;
    font-family: "微软雅黑", 黑体;
    color: var(--title-color-light);
}

.mask {
    height: 64px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
}

.mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 70px;
    letter-spacing: -0.02em;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    padding-bottom: var(--offset);
}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #189e98 50%, #0ec15d);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #9e1871 50%, #c10e4a);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #ff7113 50%, #ffee00);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #1371ff 50%, #0059ff);
}

.product {
    margin-top: 24rem;
    margin-bottom: 16px;
}

.product {
    color: var(--title-color-light);
    font-size: 36px;
    margin-left: 10%;
}

.card-zlserver {
    display: inline-block;
    background-color: #ffffff;
    border: #e6e6e6 1px solid;
    border-radius: 8px;
    margin-left: 10%;
    padding: 16px 24px;
    margin-bottom: 8px;
    margin-top: 1rem;
}

.card-zlserver h3 {
    font-size: 24px;
    color: var(--title-color-light);
    background-color: #ffffff;
}

.card-zlserver img {
    border-radius: 20px;
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}

.card-zlserver p {
    background-color: #ffffff;
    color: var(--description-color-light);
}

.card-u1bot {
    display: inline-block;
    background-color: #ffffff;
    border: #e6e6e6 1px solid;
    border-radius: 8px;
    padding: 16px 24px;
    margin-bottom: 8px;
    margin-top: 1rem;
}

.card-u1bot:hover {
    transition: 0.1s ease;
    transform: translateY(-1px);
}

.card-zlserver:hover {
    transition: 0.1s ease;
    transform: translateY(-1px);
}

.card-u1bot h3 {
    font-size: 24px;
    color: #1d1d1f;
    background-color: #ffffff;
}

.card-u1bot p {
    background-color: #ffffff;
    color: var(--description-color-light);
}

.card-u1bot img {
    border-radius: 8px;
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}

.product-p {
    margin-left: 10%;
    color: #646464;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20rem;
    margin-top: 2rem;
}

.about-img {
    border-radius: 20px;
    width: 50vw;
    margin-right: 10%;
}

.aboutus {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aboutcontent {
    margin-left: 10%;
    color: #1d1d1f;
    font-size: 36px;
    font-weight: 700;
}

.aboutus h1 {
    margin-bottom: 2rem;
}

.aboutcontent p {
    color: var(--description-color-light);
    max-width: 550px;
    font-size: 20px;
    line-height: 1.8;
    padding-right: 6%;
    font-weight: 540;
    margin-top: 2rem;
}

.footer h3 {
    color: #212121;
    margin-left: 10%;
}

.footer p {
    color: var(--description-color-light);
    padding-bottom: 2rem;
    margin-left: 10%;
}

.who-are-we h1 {
    font-size: 36px;
    color: var(--title-color-light);
    margin-bottom: 2rem;
    margin-left: 10%;
}

.card-wling {
    width: 320px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
    margin-left: 10%;
    margin-bottom: 10rem; 
    padding-block: 2rem;
    padding-left: 2rem;
}

.card-wling img {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: block;
    padding-left: 2rem;
    padding: 2rem 0rem;
    transition: linear 0.1s;
}

.card-wling img:hover {
    padding: 0rem 0rem;
    transform: rotate(360deg);
    transition: linear 0.2s;
}

.card-wling h4 {
    font-size: 24px;
    color: var(--title-color-light);
    background-color: white;
}

.card-wling p {
    color: var(--description-color-light);
    background-color: white;
}

footer a {
    color: var(--description-color-light);
    transition: all 0.5s;
}

.friend-links a {
    color: var(--description-color-light);
    transition: all 0.5s;
    padding-left: 10%;
    padding-bottom: 2rem;
}

.friend-links a:hover {
    color: #212121;
    transition: all 0.5s;
    padding-left: 10%;
}
